NODE_ENV=development
DATABASE_CLIENT=sqlite
DATABASE_URL="" # The URL of the database to use. # # Default: "" # # Example: "postgres://user:password@localhost:5432/mydatabase" # # Note: This is only used if you are using the "postgres" database driver. # # See https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING # # DATABASE_URL="postgres://user:password@localhost:54